/* General */
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Fonts */
@font-face {
    font-family: D-DIN-Medium;
    src: url(../fonts/D-DIN.woff2) format("woff2"), url(../fonts/D-DIN.woff) format("woff"), url(../fonts/D-DIN.otf) format("opentype");
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: D-DIN-Light;
    src: url(../fonts/D-DIN.woff2) format("woff2"), url(../fonts/D-DIN.woff) format("woff"), url(../fonts/D-DIN.otf) format("opentype");
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: D-DIN-Bold;
    src: url(../fonts/D-DIN-Bold.woff2) format("woff2"), url(../fonts/D-DIN-Bold.woff) format("woff"), url(../fonts/D-DIN-Bold.otf) format("opentype");
    font-weight: 400;
    font-display: block;
}

@font-face {
    font-family: D-DIN-Regular;
    src: url(../fonts/D-DIN.woff2) format("woff2"), url(../fonts/D-DIN.woff) format("woff"), url(../fonts/D-DIN.otf) format("opentype");
    font-weight: 400;
    font-display: block;
}

/* button styling */
a.button {
    display: inline-block;
    width: 10em;
    padding: .25em 1em;
    margin: 2em 0 0;
    border: 2px solid #fff;
    font: 0.875em/3.125em D-DIN-Bold, Arial, Verdana, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

a.largeButton {
    width: 15em;
    padding: .5em 1em;
    margin: 2em 0 0;
    border: 2px solid #fff;
    font: 0.875em/3.125em D-DIN-Bold, Arial, Verdana, sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

/* text shadow */
.shadow {
    text-shadow: 0 0 5px black;
}

body {
    background-color: black;
}

/* general text styling */
h1,
h2,
h3 {
    color: white;
    text-transform: uppercase;
}

h2 {
    font: 3em D-DIN-Bold, Arial, Verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font: 1.25em/2em D-DIN-Medium, Arial, Verdana, sans-serif;
}

p {
    color: white;
    font-family: D-DIN-Regular;
    line-height: 1.75em;
    margin-top: 1.25em;
}

a:active,
a:link,
a:visited {
    color: #fff;
    text-decoration: none;
}

/* Navigation */
#header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 6.25em;
}

#logo {
    width: 15em;
    height: auto;
    z-index: 1;
    fill: #fff;
}

#navigation {
    position: absolute;
    top: 2.5em;
    left: 1.5em;
}

#navigation ul {
    display: flex;
    list-style-type: none;
}

#navigation li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
}

#navigation li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font: 0.875em/1.75em D-DIN-Bold, Arial, Verdana, sans-serif;
}

/* Small screen navigation - hamburger */

.hamburger {
    position: absolute;
    z-index: 1;
    border: 0;
    font-size: 1.25em;
    cursor: pointer;
    right: 3.125em;
    top: 50%;
    transform: translate(-50%, 0);
}

.nav-hamburger-mobile {
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    width: 20vw;
    height: 100vh;
    overflow: hidden;
    transform: translateY(-100%);
}

.nav-hamburger-mobile li {
    position: relative;
    text-align: right;
    width: 65%;
    left: 4.5em;
    top: 5em;
    padding: .2em;
    list-style-type: none;
    border-bottom: 1px solid rgba(46, 49, 49, .7);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font: 1em/2.5em D-DIN-Regular, Arial, Verdana, sans-serif;
}

.hamburger div {
    width: 1em;
    height: 0.1em;
    color: white;
    background-color: white;
    margin: 0.15em 0;
    transition: 0.4s;
}

.transformHamburger .bar1 {
    transform: rotate(45deg) translate(4px, 3px);
}

.transformHamburger .bar2 {
    opacity: 0;
}

.transformHamburger .bar3 {
    transform: rotate(-45deg) translate(4px, -4px);
}

.desktopNav {
    display: none;
}

.showNav {
    transform: translateY(0);
    animation: slide-in 0.5s;
}

.closeNav {
    animation: slide-out 0.5s;
}

.disableScroll {
    overflow: hidden;
}

/* Slide animation hamburger menu */
@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* Main */
.section {
    min-height: 100vh;
}

.background {
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/* positioning */
.center-container,
.center-top,
.right-middle,
.center-container-stats,
.left-middle,
.left-top,
.left-bottom,
.right-top {
    display: flex;
    position: relative;
}

.center-container {
    flex-direction: column;
    text-align: center;
    top: 35%;
    left: 50%;
    transform: translate(-50%, 0);
    top: 20em;
}

.center-top {
    flex-direction: column;
    text-align: center;
    top: 10em;
    width: 62%;
    left: 50%;
    transform: translate(-50%, 0);
}

.center-container-stats {
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.center-container-stats-row {
    display: flex;
    flex-direction: column;
}

.left-middle,
.left-top {
    flex-direction: column;
    top: 5em;
    width: 25%;
    left: 5%;
}

.left-bottom {
    flex-direction: column;
    top: 35em;
    width: 40%;
    left: 5%;
}

.right-top,
.right-middle {
    flex-direction: column;
    top: 10em;
    width: 40%;
    left: 55%;
}

/* HOME > index.html */
/* featured */
#featured>.background {
    background-image: url(../images/desktop/launches_starlink_prelaunch.webp);
}

#featured h1 {
    font: 6.25em/1em D-DIN-Bold, Arial, Verdana, sans-serif;
    font-weight: 400;
    font-size: 3em;
    margin-bottom: .500em;
}

#featured h3 {
    font: 1.25em/2em D-DIN-Medium, Arial, Verdana, sans-serif;
    font-weight: 400;
}

/* Crew-1 recap */
#crew1-recap>.background {
    background-image: url(../images/desktop/dragon-window-desktop.webp);
}

/* Dragon docking simulator */
#dragon-dock-sim>.background {
    background-image: url(../images/desktop/iss_game.webp);
}

/* Starship */
#starship>.background {
    background-image: url(../images/desktop/SN8.webp);
}

/* Lunar starship */
#lunar-starship>.background {
    background-image: url(../images/desktop/home_moon.webp);
}

/* MARS > mars.html*/

/* featured */
#mars-featured>.background {
    background-image: url(../images/desktop/mars_feature.webp);
}

#mars-featured h1 {
    font: 6.25em/1.5em D-DIN-Bold, Arial, Verdana, sans-serif;
}

/* Elon Musk quote */
#mars-humans>.background {
    background-image: url(../images/desktop/mars_humans.webp);
}

#mars-humans q {
    color: white;
    font: 1.5em/1.75em D-DIN-Medium, Arial, Verdana, sans-serif;
}

#quote {
    font: 1.5em D-DIN-Medium, Arial, Verdana, sans-serif;
}

/* Why Mars? */
#mars-why>.background {
    background-image: url(../images/desktop/mars_why.webp);
}

#mars-why h2 {
    font: 2.875em/1em D-DIN-Bold, Arial, Verdana, sans-serif;
}

#mars-why dl {
    font: 0.875em D-DIN-Bold, Arial, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: white;
}

#mars-why dd {
    text-align: right;
    font: 600 1em D-DIN-Regular, Arial, Verdana, sans-serif;
}

#mars-why dl dt,
dl dd {
    width: 50%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#textSeperation {
    color: #868686;
}

.seperation {
    width: 100%;
    border-bottom: 2px solid rgba(46, 49, 49, .7);
}

/* Mars Stats */
#mars-stats {
    color: white;
    margin: 5em 0 5em 0;
}

#mars-stats .stat-number {
    font: 8.75em D-DIN-Light, Arial, Verdana, sans-serif;
}

#mars-stats .stat-label {
    font: 1.375em D-DIN-Medium, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

#mars-vehicle>.background {
    background-image: url(../images/desktop/starship_vehicle.webp);
}

.SVGMars {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.SVGMarsMobile {
    display: none;
}

.SVGMars svg {
    position: relative;
    top: -10em;
    height: 70%;
    width: 70%;
}

#marsAndBackInfo {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 0.875em / 1.125em D-DIN-Medium, Arial, Verdana, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 90%;
    color: white;
    cursor: pointer;
    margin-bottom: 10em;
}

#marsAndBackInfo p {
    font: 1em / 1em D-DIN-Medium, Arial, Verdana, sans-serif;
    margin-top: 2em;
    color: rgba(255, 255, 255, .5);
    text-transform: initial;
    width: 60%;
}

.hoverable:not(:hover)+.show-on-hover {
    visibility: hidden;
    opacity: 0;
}

.js-step {
    cursor: pointer;
}

/* background video, mars fueling */
#mars-fueling video {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    object-fit: cover;
}

#mars-landing>.background {
    background-image: url(../images/desktop/mars_landing.webp);
}

/* Footer */
footer {
    padding: 2.75em;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

footer li a {
    text-decoration: none;
    margin: 0 .5em;
    font: 0.8125em/1.5em D-DIN-Bold, Arial, Verdana, sans-serif;
    color: white;
    text-transform: uppercase;
}

hr {
    display: inline-block;
    margin-top: 4em;
    color: white;
    background-color: white;
    height: 8em;
}

#contact-text {
    text-align: center;
    flex-basis: 100%;
}

#copyright {
    font: 0.8125em D-DIN-Regular, Arial, Verdana, sans-serif;
    margin: 0 1.25em;
    color: #979797;
    text-transform: uppercase;
}

/* Media queries, smaller screens */
@media screen and (min-width:280px) and (max-width:960px) {

    /* Mobile navigation */
    #logo {
        position: absolute;
        width: 10.700em;
        margin-top: 1em;
        margin-left: 0.9375em;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #navigation {
        z-index: 1;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .desktopNav {
        display: list-item;
    }

    .hamburger {
        top: 25%;
        right: 1em;
    }

    .nav-hamburger-mobile {
        width: 75vw;
    }

    .nav-hamburger-mobile li {
        top: 3em;
        width: 82%;
        left: 1.5em;
    }

    #nav-ul>li a:not(#logo) {
        display: none;
    }

    #mars-featured h1 {
        font: 3em D-DIN-Bold, Arial, Verdana, sans-serif;
        margin-bottom: 5%;
    }

    h2 {
        font: 2em D-DIN-Bold, Arial, Verdana, sans-serif;
    }

    #mars-featured h3 {
        font: 1em/1.25em D-DIN-Bold, Arial, Verdana, sans-serif;
    }

    #mars-humans q,
    #quote {
        font: 1em/1.75em D-DIN-Medium, Arial, Verdana, sans-serif;
    }

    #mars-stats {
        margin-top: 5em;
        margin-bottom: 5em;
    }

    #mars-stats .stat-number {
        font: 2.5em D-DIN-Medium, Arial, Verdana, sans-serif;
    }

    #mars-stats .stat-label {
        font: 0.5em D-DIN-Medium, Arial, Verdana, sans-serif;
    }

    .SVGMars {
        display: none;
    }

    .SVGMarsMobile {
        display: block;
        top: -10em;
        position: relative;
    }

    #copyright {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5em;
    }

    /* small screen positioning */
    .center-top {
        top: 5em;
        width: 90%;
    }

    .right-middle,
    .left-middle,
    .right-top {
        width: 90%;
        top: 3em;
        left: 5%;
    }

    .left-top {
        width: 90%;
        left: 5%;
    }

    .left-top-unique {
        position: relative;
        top: 35em;
        width: 90%;
        left: 5%;
    }

    #marsAndBackInfo div:nth-of-type(5), div:nth-of-type(6) {
        display: none;
    }

    #marsAndBackInfo {
        top: -8em;
    }

    #marsAndBackInfo p {
        display: none;
    }

    .left-bottom {
        width: 90%;
        top: 10em;
    }

    .center-container {
        width: 95%;
    }

    /* Mobile backgrounds */
    #crew1-recap>.background {
        background-image: url(../images/mobile/dragon-window-mobile.jpg);
    }

    #dragon-dock-sim>.background {
        background-image: url(../images/mobile/iss_game_mobile.webp);
    }

    #starship>.background {
        background-image: url(../images/mobile/SN8-mobile.webp);
    }

    #lunar-starship>.background {
        background-image: url(../images/mobile/home_moon_mobile.webp);
    }

    #mars-why>.background {
        background-image: url(../images/mobile/mars_why-mobile.webp);
    }

    #mars-vehicle>.background {
        background-image: url(../images/mobile/starship_vehicle-mobile.webp);
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-hamburger-mobile {
        width: 45vw;
    }

    .center-top {
        top: 5em;
        width: 90%;
    }
}